{% extends "base.html" %} {% block title %}{{object.title}}{% endblock %} {%
block content %} {% block content %}

<!--Main layout-->
<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5 mb-1">
    <!--Grid row-->
    <div class="row wow fadeIn offset-5">
      
      <!--Grid column-->
    </div>
    <section class="text-center mb-5">
          <!--Grid row-->
          <div class="row wow fadeIn">
            
                    <!--Card-->
            <div class="card">

              <!--Card content-->
              <div class="card-body text-center">
              <!--Category & Title-->
              <a href="" class="grey-text">
                  <h5>{{item.get_catgory_display}}</h5>
              </a>
              <h5>
                <strong>
                  <h1 text-align="center">Lấy lại mật khẩu</h1>
                  <p text-align="center">Tạo mật khẩu mới thành công, bấm đăng nhập để quay lại trang đăng nhập. <a href="/login">Đăng nhập</a></p>
                </strong>
              </h5>
              </div>
                <!--Card content-->
            </div>
                  
        </div>
    </section>
  </div>
</main>
<!--Main layout-->

{% endblock %}
